{{title}}

<h1 style="text-align: center; margin-top: 40vh;">Task App </h1>
<br>
<a href="/todos" style="text-decoration: none"><h3 style="text-align: center">Enter</h3></a>

<a href="" style="text-decoration: none"><h3 style="text-align: center">Create Account</h3></a>

